.grid {
  display: grid;
  grid-auto-columns: max-content;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 28px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 4px;
  white-space: nowrap;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  font-size: 20px;
  background-color: #39396b;
  overflow: hidden;
  margin-bottom: 12px;
}
.imgBox {
  position: relative;
  width: 100%;
  aspect-ratio: 1.01;
  margin-bottom: 8px;
  overflow: hidden;
}
.content {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  color: #fff;
}
.price {
  font-weight: bold;
  color: #fff;
  border-radius: 8px;
  padding: 2px 12px;
  /* background-color: #a247dc; */
}
.name {
  padding-right: 8px;
}
@media only screen and (max-width: 470px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
  }
  .item {
    font-size: 16px;
  }
}
@media only screen and (max-width: 550px) {
  .item {
    font-size: 16px;
  }
}
