.headline {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.headline a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.headline p {
  color: #fff;
  margin-right: 10px;
}
