@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
.bgColor {
  background-color: #151528;
}
.slick-dots {
  position: absolute !important;
  bottom: 25px !important;
  width: 100%;
  display: flex;
  justify-content: center;
}

.slick-dots li {
  margin: 0 5px;
}
