@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
.bgColor {
  background-color: #151528;
}
.slick-dots {
  position: absolute !important;
  bottom: 25px !important;
  width: 100%;
  display: flex;
  justify-content: center;
}

.slick-dots li {
  margin: 0 5px;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}
.ant-rate-star-first,
.ant-rate-star-second {
  color: #39396b !important;
}

.ant-rate-star-full .ant-rate-star-first,
.ant-rate-star-full .ant-rate-star-second,
.ant-rate-star-half .ant-rate-star-first,
.ant-rate-star-half .ant-rate-star-second {
  color: #a247dc !important;
}

@media only screen and (max-width: 430px) {
  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 65vh;
  }
}
