.grid {
  display: grid;
  grid-auto-columns: max-content;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-bottom: 28px;
}
.grid a {
  text-decoration: none;
  color: #fff;
}
.grid a:focus {
background-color: #39396b;
border-radius: 8px;
}
.menu{
  color: #ccc;
  margin-bottom: 6px;
  direction: rtl;
}
.item {
  background-color: #39396b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  padding: 10px;
  font-size: 12px;
}
.item span {
  font-size: 45px;
  margin-bottom: -30px;
  color: #fff !important;
}

.item p {
  margin-top: 8px;
}
